body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

#loading-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px; /* Updated font size */
  font-weight: bold;
  color: #333;
  text-align: center; /* Center the text horizontally */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading-text span {
  animation: blink 1s infinite;
}
