  .container {
        padding: 14px 14px 0
    }
    .container img {
        width: 90%;
        display: block;
        margin: 0 auto 8px;
        border-radius: 10px
    }
    .info-inner {
        width: 90%;
        margin: 0 auto;
    }
    .info-title {
        font-size: .33816rem;
        color: #333;
        display: block;
        word-wrap: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
		text-align: center;
    }
    .info-price {
        font-size: 14px;
        color: #999999;
        display: block;
        margin-top: 6px;
    }
    .info-coupon {
        position: relative;
        display: inline-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: .19323rem 0;
		text-align: center;
    }
    .info-endPrice {
        font-size: .33816rem;
        color: #333;

    }
    .end-price {
        font-size: .43478rem;
        color: #E91C34
		
    }
    .coupon-inner {
        position: relative;
        background: -webkit-linear-gradient(-90deg, rgba(254, 45, 100, 1) 0%, rgba(255, 138, 80, 1) 100%);
        background: linear-gradient(-90deg, rgba(254, 45, 100, 1) 0%, rgba(255, 138, 80, 1) 100%);
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 2px;
        border-radius: 4px;
        box-shadow: 2px 2px 12px 0px rgba(255, 83, 106, 0.2);
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        box-sizing: border-box;
    }
    .coupon-inner::before {
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        left: -2px;
        width: 6px;
        height: 12px;
        background: #FFF;
        border-radius: 0 1000px 1000px 0;
        box-shadow: inset -5px 0px 8px -3px rgba(255, 83, 106, 0.2);
        box-sizing: border-box;
    }
    .coupon-text {
        font-size: .33816rem;
        color: #fff;
        padding: 1px 8px 1px 10px;
    }
    .coupon-price {
        padding: 1px 6px;
        font-size: .43478rem;
        color: #FE2D64;
        background: #FFF;
        border-radius: 4px;
    }
    .beatword {
        width: 90%;
        margin: 12px auto 78px;
        text-align: center;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 21px 0px rgba(144, 142, 143, 0.11);
        box-shadow: 0px 0px 21px 0px rgba(144, 142, 143, 0.11);
    }
	
    .word-border {
      padding: 8px 4px;  
        color: #999;
        font-size: 14px;
        text-align: center;
    }
    .copy-tip {
        text-align: left;
        color: #8f8f8f;
        font-size: 9pt;
        clear: both
    }
    .copy-tip span {
        display: inline-block;
        position: relative;
        top: 2px;
        left: -2px;
        width: 20px;
        height: 10px;
        margin: 0 4px;
        border: 1px dashed #df7162
    }
    .copy-inner {
        background: #eee;
        padding: 12px 0;
        border-radius: 0 0 10px 10px;
    }
    .icopy {
        background: linear-gradient(to right, #fbaa58, #fa4dbe);
        border-radius: 750pt;
        color: #fff;
        font-size: 16px;
        display: inline-block;
        margin: 0 auto;
        padding: 5px 28px;
        height: 28px;
        line-height: 28px;
        animation-duration: .8s;
        animation-iteration-count: infinite;
    }
    .shopTips {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .shopTips > img {
        width: 16px;
        height: 16px;
        display: inline-block;
    }
    .footer-inner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #FFF;
        border-top: 1px solid #E9EAEC;
    }
    .footer-inner>a {
        text-decoration: none;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 6px 12px;
    }
    .download-left {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .download-inner {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-left: 6px;
    }
    .download-btn {
        background: linear-gradient(-90deg, rgba(254, 45, 100, 1) 0%, rgba(255, 138, 80, 1) 99%);
        /*box-shadow: 0px 6px 11px 1px rgba(255, 83, 106, 0.2);*/
        padding: .14492rem .38647rem;
        border-radius: 1000px;
        font-size: .33816rem;
        text-align: center;
        color: #fff;
    }
	.download-mov {
        background: linear-gradient(-90deg, rgba(254, 45, 100, 1) 0%, rgba(255, 138, 80, 1) 99%);
        box-shadow: 0px 6px 11px 1px rgba(255, 83, 106, 0.2);
        padding: .14492rem .38647rem;
        border-radius: 1000px;
        font-size: .33816rem;
        text-align: center;
        color: #fff;
        float: right;
    }
   
    .kz-float-layer {
        height: 0!important;
        display: none!important
    }
    button,
    input,
    select,
    textarea {
        outline: 0;
        border: none;
        background: #ccc
    }
	    #type-img {
        width: 80%;
        box-shadow: 0 7px 16px rgba(106, 104, 98, .2);
        display: block;
        margin: 0rem auto;
    }
	 .mask {
      width: 180px;
      height: 70px;
      background: url(../image/kuaizhan-taokouling.png) no-repeat center 40px;
      -webkit-background-size: 100% 100%;
      background-size: 100%;
      margin: 0 auto 40px;
      padding-top: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 17px;
    }
	    .header_content .header_img {
        position: relative;
        top: 1px;
        width: 28px;
        height: 28px;
    }
    
    .header_content {
        position: absolute;
        height: 40px;
        left: 0;
        right: 0;
        top: 0;
        background: #f54d23;
        
    }

    
    .header_content .am-icon-search {
        position: absolute;
        right: 10px;
        top: 2px;
        color: white;
    }
    
    .header_content input,
    .header_content .am-form input[type="text"].am-radius::-webkit-input-placeholder {
        color: white;
    }
    
    .header_content input,
    .header_content .am-form input[type="text"].am-radius {
        color: white;
        height: 30px;
        border: .1rem solid #f54d23;
        background: #E4371B;
        width: 100%;
        -webkit-appearance: none;
    }
    
     .header_content_white {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 40px;
        background: white;
        border-bottom: 1px solid #F6F6F6;
        overflow-y: hidden;
        z-index: 999;
    }

    
    .header_content_white .am-u-sm-2,
    .header_content_white .am-u-sm-8,
    .header_content_white .am-u-sm-2 a {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header_content_white .header_img {
        width: 28px;
        height: 28px;
        border: 2px solid rgba(254, 134, 98, .4);
    }
    
    .header_content_white .am-u-sm-8 form {
        width: 100%;
    }
    
    .header_content_white .icon-search {
        position: absolute;
        right: 16px;
        top: 8px;
        color: #AAAEB3;
    }
    
    .header_content_white input,
    .header_content_white .am-form input[type="text"].am-round {
        color: #AAAEB3;
        height: 30px;
        border: .1rem solid #F5F4F3;
        background: #F5F4F3;
        width: 100%;
        -webkit-appearance: none;
        padding-left: 14px;
        font-size: 12px;
        line-height: 1.5em;
    }

    .header_content_white .am-form input[type="text"].am-round::-webkit-input-placeholder {
        color: #AAAEB3; 
    } 
    
    .header_content_white .icon-shouye2,
    .header_content_white .icon-liaotiankefu,
    .header_content_white .fq-service {
        color: #FE8662;
    }
    /*æ‚¬æµ®å›¾æ ‡*/
    
    .fq-custom {
        z-index: 1;
        position: absolute;
       /* bottom: 100px;*/
        right: 1px;
        position: fixed;
        top: 150px;
        color: #fff;
    background: linear-gradient( 
90deg
 , rgb(0 0 0 / 40%), rgb(0 0 0 / 40%));
    /* display: inline-block; */
    /* margin: 0 auto; */
    /*padding: 0.24rem 0.8rem;*/
    /* border-radius: 1000px; */
    /* border-top-right-radius: 15px; */
    border-top-left-radius: 15px;
    /* border-top-right-radius: 15px; */
    border-bottom-left-radius: 15px;
    /* border-bottom-right-radius: 15px; */


    }
    
    .fq-custom img {
        width: 100%;
        line-height: 70px;
        width: 90px;
        height: 40px;
        -webkit-filter: drop-shadow(0 3px 8px rgba(84, 30, 15, .8));
        filter: drop-shadow(0 3px 8px rgba(84, 30, 15, .8));
    }
    
    @keyframes myfirst {
        0% {
            transform: translate(5px);
        }
        25% {
            transform: translate(-5px);
        }
        50% {
            transform: translate(5px);
        }
        75% {
            transform: translate(-5px);
        }
        100% {
            transform: translate(5px);
        }
    }
    
    @-webkit-keyframes myfirst {
        0% {
            transform: translate(5px);
        }
        25% {
            transform: translate(-5px);
        }
        50% {
            transform: translate(5px);
        }
        75% {
            transform: translate(-5px);
        }
        100% {
            transform: translate(5px);
        }
    }
    
    .fq-information {
        position: absolute;
        top: 50px;
        left: 0.5rem;
        z-index: 10;
        background: rgba(93, 92, 92, 0.8);
        color: white;
    }
    
    .fq-information div {
        line-height: 20px;
    }
    
    .fq-information img {
        width: 40px;
        height: 40px;
        border: 2px solid rgba(93, 92, 92, 0.9);
    }

    .fq-search {
    position: absolute;
    right: 10px;
    bottom: 105px;
    background: #555;
    z-index: 99;
    height: 40px;
    width: 40px;
    color: white;
}

.fq-search span {
    line-height: 40px;
}

.fq-search:focus, .fq-search:hover {
    color: white;
}