canvas {
  cursor: none !important;
  user-select: none;
  /* outline: 1px red solid; */
}

@font-face {
  font-family: 'Theinhardt';
  src: url('./assets/fonts/Theinhardt-Rg.eot');
  src: url('./assets/fonts/Theinhardt-Rg.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Theinhardt-Rg.woff2') format('woff2'),
      url('./assets/fonts/Theinhardt-Rg.woff') format('woff'),
      url('./assets/fonts/Theinhardt-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body, canvas#gl-canvas {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  font-family: 'Theinhardt', sans-serif;
}

canvas,
.mobile-ui__socials__social a {
  -webkit-tap-highlight-color: transparent;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 10;
  transform: translate(0, 0);
  pointer-events: none
}

.mobile .cursor,
.tablet .cursor {
  display: none;
}

.mobile-logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 125px;
  height: auto;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.mobile .mobile-logo,
.tablet .mobile-logo {
  display: block;
}

.mobile-logo img {
  width: 100%;
  height: auto;
}

.mobile-ui {
  position: absolute;
  bottom: 0;
  color: #0d297c;
  width: 100%;
  text-align: center;
  display: none;
}

.mobile .mobile-ui,
.tablet .mobile-ui {
  display: block;
}

.mobile-ui__text {
  font-size: 18px;
  line-height: 24px;
  max-width: 200px;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
}

.tablet .mobile-ui__text {
  max-width: none;
}

.mobile-ui__socials {
  margin-top: 20px;
  margin-bottom: 15px;
}

.mobile-ui__socials__social {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 18px;
}

.mobile-ui__socials__social a {
  opacity: 0;
  visibility: hidden;
}

.mobile-ui svg {
  overflow: visible;
}

.mobile-ui svg path {
  fill: #0d297c;
}

@media screen and (orientation: landscape) {
  .mobile-ui__text {
    max-width: none;
  }

  .mobile-logo {
    left: 60px;
    transform: none;
  }
}

/* canvas {
  border: 1px solid red
} */